html,
body {
    height: 100%;
}

// Moves the app scroll bar to begin after the fixed header
html {
    overflow-y: hidden;
    padding-top: @navbar-height; // Height of the top bar (todo : add the height of the border too if needed)
}

body {
    padding-top: floor(@grid-gutter-width / 2); // Height of the header has been moved to the html tag, only keep @grid-gutter-width / 2
    padding-bottom: 0; // No need to have a padding here
    overflow-y: auto; // Get the scroll bar
}


// allow to change the font-weight of links through vars
a {
    font-weight: @link-weight;

    &:hover,
    &:focus {
        font-weight: @link-hover-weight;
    }
}
